<h1>Quản lý Roles</h1>
<a href="/roles/add" class="btn btn-primary mb-3">Thêm mới</a>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>STT</th>
      <th>Tên</th>
      <th style="width: 50px">Sửa</th>
      <th style="width: 50px">Xóa</th>
    </tr>
  </thead>
  <tbody>
    <% roles.forEach((role,index) => { %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= role.name %></td>
      <td>
        <a href="/roles/edit/<%= role.id %>" class="btn btn-warning">Sửa</a>
      </td>
      <td>
        <form action="/roles/delete/<%= role.id %>" method="post">
          <button class="btn btn-danger">Xóa</button>
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
