.Home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  header {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(182, 238, 240);
  }
  main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
  }
  footer {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
    color: white;
  }
}
