$nameColor: linear-gradient(90deg, #5da5f5, #07966d);
$searchBtn: #1d4ed8;
$searchBtnHover: #1e40af;
$searchBtnFocusBorder: #93c5fd;
$addBtn: #047857;
$addBtnHover: #065f46;
$saveBtn: #047857;
$saveBtnHover: #065f46;
$cancelBtn: White;
$cancelBtnHover: #f3f4f6;
$deleteBtn: #be123c;
$deleteBtnHover: #9f1239;
$editBtn: #1d4ed8;
$editBtnHover: #1e40af;
$completeBtn: #9ca3af;
$completeBtnActive: #047857;
$completeBtnHover: #065f46;
$showDoneBtn: #9ca3af;
$showDoneBtnHover: #6b7280;
$showDoneBtnHoverBorder: #6ee7b7;
$showDoneBtnActive: #047857;
