header.header {
  padding: 10px 0;
  box-shadow: 0 1px 5px 1px gray;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 10000;
  .logo {
    max-height: 93px;
    overflow: hidden;
  }
  .header-nav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 50px;
    .menu {
      ul {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        li {
          a {
            font-weight: 600;
          }
        }
        li:hover > a {
          color: $green-800;
          border-bottom: 2px solid $green-800;
          padding-bottom: 37px;
        }
      }
    }
    .cart-icon {
      position: relative;
      cursor: pointer;
      span {
        display: block;
        padding: 2px 5px;
        background-color: $orange-700;
        border-radius: 50%;
        color: white;
        font-size: 1rem;
        position: absolute;
        top: -6px;
        right: -6px;
      }
    }
    .search-icon {
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 991.98px) {
  header.header {
    position: relative;
    .menu-btn {
      padding-left: 20px;
      i {
        cursor: pointer;
      }
    }
    .logo {
      display: flex;
      justify-content: center;
    }
    .header-nav {
      gap: 20px;
      padding-right: 20px;
      .menu {
        visibility: hidden;
        width: 100vw;
        position: absolute;
        top: 95px;
        left: 0px;
        ul {
          flex-direction: column;
          align-items: center;
          background-color: $green-800;
          height: 0;
          transition: 0.4s ease;
          gap: 0;
          li {
            display: none;
            width: 100%;
            padding: 10px 0;
            margin: 4px 0;
            text-align: center;
            a {
              color: white;
            }
          }
        }
      }
      #menu-btn:checked ~ .menu {
        visibility: visible;
        ul {
          height: 240px;
          transition: 0.4s ease;
          li {
            display: block;
            transition-delay: 0.2s;
            &:hover {
              background-color: white;
              a {
                color: $green-800 !important;
                border: none;
              }
            }
          }
        }
      }
    }
  }
}
