<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/style.css" />
    <title>F8- học lập trình để đi làm</title>
  </head>
  <body>
    <Header>
      <h1>Header</h1>
    </Header>
    <main><%- body %></main>
    <Footer>
      <h1>Footer</h1>
    </Footer>
  </body>
</html>
