aside {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 80vh;
  background-color: rgb(157, 235, 170);
  h2 {
    padding: 20px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    li {
      padding: 20px;
      a {
        text-decoration: none;
        font-size: large;
        color: black;
      }
      &:hover {
        background-color: white;
        cursor: pointer;
        a {
          color: rgb(83, 122, 89);
        }
      }
    }
  }
}
