* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
  background-image: url("../img/background.jpg");
  background-size: cover;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container .header {
  display: flex;
  width: 90%;
  flex-direction: column;
}
.container .header .time-container {
  margin-top: 10px;
  width: 100%;
  height: 5px;
  border-radius: 99px;
  position: relative;
}
.container .header .time-container .time {
  position: absolute;
  background-color: rgb(170, 170, 170);
  border-radius: 99px;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.container .header .score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.container .header .score-container .left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .header .score-container .left .question-number {
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
}
.container .header .score-container .left .question-number span:first-child {
  font-size: x-large;
}
.container .header .score-container .left .streak {
  display: flex;
  margin-left: 20px;
  border: 2px solid gray;
  border-radius: 5px;
  position: relative;
}
.container .header .score-container .left .streak div {
  display: flex;
  width: 80px;
  height: 40px;
  background-color: black;
}
.container .header .score-container .left .streak div.box1 {
  border-radius: 5px 0 0 5px;
}
.container .header .score-container .left .streak div.box2 {
  border-radius: 0;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
.container .header .score-container .left .streak div.box3 {
  border-radius: 0 5px 5px 0;
}
.container .header .score-container .right .score {
  color: white;
  margin-right: 50px;
  font-size: large;
  font-weight: bold;
}
.container .question {
  display: flex;
  width: 90%;
  height: 80vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.container .question .content {
  display: flex;
  width: 100%;
  height: 70%;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  position: relative;
  z-index: 2;
}
.container .question .answers {
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.container .question .answers .answer {
  display: flex;
  width: 20%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.container .question .answers .answer p {
  font-size: 20px;
}
.container .question .background {
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 12px;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
}
.container .question .background + p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  position: relative;
  z-index: 1;
}

.start .btn {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid white;
  padding: 10px 20px;
  color: white;
  font-size: xxx-large;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  cursor: pointer;
}
.start .btn:active {
  background-color: white;
  color: gray;
}
.start .count-to-start {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: black;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
}
.start .count-to-start span {
  font-size: x-large;
  color: white;
}

/*# sourceMappingURL=styles.css.map */
