@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: Inter, sans-serif;
  color: #2c2c2c;
  font-size: 1.6rem;
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: #2c2c2c;
  margin: 20px 0;
}

.container {
  --container-width: 1200px;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

@media screen and (min-width: 576px) {
  .d-sm-none {
    display: none;
  }
  .d-sm-block {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .d-xl-none {
    display: none;
  }
  .d-xl-block {
    display: block;
  }
}
@media screen and (min-width: 1400px) {
  .d-xxl-none {
    display: none;
  }
  .d-xxl-block {
    display: block;
  }
}
header.header {
  padding: 10px 0;
  box-shadow: 0 1px 5px 1px gray;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 10000;
}
header.header .logo {
  max-height: 93px;
  overflow: hidden;
}
header.header .header-nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 50px;
}
header.header .header-nav .menu ul {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
header.header .header-nav .menu ul li a {
  font-weight: 600;
}
header.header .header-nav .menu ul li:hover > a {
  color: #46b20f;
  border-bottom: 2px solid #46b20f;
  padding-bottom: 37px;
}
header.header .header-nav .cart-icon {
  position: relative;
  cursor: pointer;
}
header.header .header-nav .cart-icon span {
  display: block;
  padding: 2px 5px;
  background-color: #e05000;
  border-radius: 50%;
  color: white;
  font-size: 1rem;
  position: absolute;
  top: -6px;
  right: -6px;
}
header.header .header-nav .search-icon {
  cursor: pointer;
}

@media screen and (max-width: 991.98px) {
  header.header {
    position: relative;
  }
  header.header .menu-btn {
    padding-left: 20px;
  }
  header.header .menu-btn i {
    cursor: pointer;
  }
  header.header .logo {
    display: flex;
    justify-content: center;
  }
  header.header .header-nav {
    gap: 20px;
    padding-right: 20px;
  }
  header.header .header-nav .menu {
    visibility: hidden;
    width: 100vw;
    position: absolute;
    top: 95px;
    left: 0px;
  }
  header.header .header-nav .menu ul {
    flex-direction: column;
    align-items: center;
    background-color: #46b20f;
    height: 0;
    transition: 0.4s ease;
    gap: 0;
  }
  header.header .header-nav .menu ul li {
    display: none;
    width: 100%;
    padding: 10px 0;
    margin: 4px 0;
    text-align: center;
  }
  header.header .header-nav .menu ul li a {
    color: white;
  }
  header.header .header-nav #menu-btn:checked ~ .menu {
    visibility: visible;
  }
  header.header .header-nav #menu-btn:checked ~ .menu ul {
    height: 240px;
    transition: 0.4s ease;
  }
  header.header .header-nav #menu-btn:checked ~ .menu ul li {
    display: block;
    transition-delay: 0.2s;
  }
  header.header .header-nav #menu-btn:checked ~ .menu ul li:hover {
    background-color: white;
  }
  header.header .header-nav #menu-btn:checked ~ .menu ul li:hover a {
    color: #46b20f !important;
    border: none;
  }
}
.footer {
  background-color: #f2ffec;
}
.footer .row:first-child {
  padding-top: 40px;
}
.footer .row:first-child h3 {
  font-weight: 600;
  color: #46b20f;
}
.footer .row:first-child li {
  margin: 6.67px 0;
  display: flex;
  align-items: center;
  gap: 4px;
}
.footer .row:first-child .support span {
  font-weight: 600;
}
.footer .row:first-child .col-lg-4 {
  display: flex;
  justify-content: start;
}
.footer .row:first-child .col-lg-4 > div {
  width: 50%;
}
.footer .row:first-child .col-lg-4 > div img {
  margin-bottom: 20px;
}
.footer .row:last-child {
  padding: 40px 0;
  display: flex;
  align-items: center;
}
.footer .row:last-child ul {
  display: flex;
  gap: 10px;
  justify-content: end;
  align-items: center;
  margin-right: 20px;
}
.footer .row:last-child ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
  background-color: #dcffca;
}
.footer .hr {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #a3a3a3;
  margin-top: 100px;
}

.hero {
  color: #2c2c2c;
  margin: 0px auto;
  padding: 100px 0 0 0;
}
.hero .hero-text h1 {
  font-size: 3.6rem;
  font-weight: 800;
}
.hero .hero-text h2 {
  width: 70%;
  font-size: 4.3rem;
  font-weight: 800;
}
.hero .hero-text p {
  width: 78%;
  font-weight: 400;
}
.hero .img-chop {
  display: flex;
  align-items: center;
  width: 49.5vw;
  background-color: #dcffca;
  border-radius: 1.6rem 0 0 1.6rem;
  position: relative;
}
.hero .img-chop img {
  translate: -22%;
}
.hero .img-chop span {
  writing-mode: vertical-rl;
  font-size: 16.6rem;
  color: #216000;
  opacity: 0.15;
  font-weight: 800;
  line-height: 1;
  translate: -90%;
}

@media screen and (max-width: 1500px) {
  .hero .img-chop span {
    font-size: 10vw;
    translate: -100%;
  }
}
@media screen and (max-width: 991.98px) {
  .hero .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
  }
  .hero .img-chop {
    width: 97vw;
    margin: 20px 0;
    border-radius: 1.6rem;
    flex-direction: column-reverse;
  }
  .hero .img-chop img {
    translate: 0;
    max-width: 80%;
  }
  .hero .img-chop span {
    writing-mode: inherit;
    font-size: 10rem;
    translate: 0;
    text-align: center;
    margin-top: 20px;
  }
}
.service {
  margin: 60px 0;
}
.service .container .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #2c2c2c;
}
.service .container .header h2 {
  width: 50%;
  font-size: 3.2rem;
  font-weight: 800;
}
.service .container .header p {
  width: 53%;
}
.service .container .content {
  width: 100%;
  height: 70vh;
  padding-top: 100px;
  position: relative;
}
.service .container .content .ellispe-top {
  width: 235px;
  height: 235px;
  border-radius: 50%;
  background-color: #dcffca;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.service .container .content .ellispe-bottom {
  width: 235px;
  height: 235px;
  border-radius: 50%;
  background-color: #ffd5bd;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.service .container .content .content-item {
  display: flex;
  width: 975px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  gap: 10px;
}
.service .container .content .content-item .item {
  border-radius: 3.3333333333px;
  background-color: white;
  box-shadow: -5.83333px 8.33333px 72.5px 0px rgba(54, 54, 54, 0.12);
}
.service .container .content .content-item .item .quantity {
  width: 83px;
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.service .container .content .content-item .item .quantity img {
  width: 45px;
  height: auto;
}
.service .container .content .content-item .item h3 {
  font-size: 4.3rem;
  font-weight: 800;
}
.service .container .content .content-item .item:nth-of-type(even) {
  padding: 50px 30px 120px 30px;
}
.service .container .content .content-item .item:nth-of-type(even) .quantity {
  background-color: #f2ffec;
}
.service .container .content .content-item .item:nth-of-type(even) p {
  font-size: 2rem;
  width: 275px;
}
.service .container .content .content-item .item:nth-of-type(odd) {
  padding: 30px 30px 60px 30px;
}
.service .container .content .content-item .item:nth-of-type(odd) .quantity {
  background-color: #fff0e7;
}
.service .container .content .content-item .item:nth-of-type(odd) p {
  font-size: 2rem;
  width: 225px;
}

@media screen and (max-width: 991.98px) {
  .service .container .content {
    width: 97vw;
    height: 600px;
  }
  .service .container .content-item {
    width: 60vw !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .service .container .content-item .item {
    display: block !important;
    width: 100%;
    padding: 10px 20px !important;
  }
  .service .container .content-item .item .quantity {
    display: inline-block !important;
    width: fit-content !important;
    height: fit-content !important;
    padding: 10px;
  }
  .service .container .content-item .item h3 {
    display: inline;
    padding-left: 20px;
  }
  .service .container .content-item .item p {
    width: 100% !important;
    padding-top: 10px;
  }
}
.products .header {
  margin: 0 auto;
}
.products .header h2 {
  text-align: center;
}
.products .row {
  display: flex;
  margin-bottom: 150px;
}
.products .row .col-lg-4 {
  display: flex;
  flex-direction: column;
}
.products .row .col-lg-4 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 300px;
}
.products .row .col-lg-4 > div .name {
  display: inline;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
}
.products .row .col-lg-4 > div span {
  font-size: 2.3rem;
  font-weight: 600;
}
.products .row .col-lg-4 > div button {
  background-color: #46b20f;
  padding: 13.33px 11.7px;
  border-radius: 6.67px;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
.products .row .col-lg-4:nth-of-type(1) {
  align-items: end;
}
.products .row .col-lg-4:nth-of-type(1) .circle {
  background-color: #ffba94;
}
.products .row .col-lg-4:nth-of-type(2) {
  align-items: center;
}
.products .row .col-lg-4:nth-of-type(2) .circle {
  background-color: #c5ffa8;
}
.products .row .col-lg-4:nth-of-type(3) {
  align-items: start;
}
.products .row .col-lg-4:nth-of-type(3) .circle {
  background-color: #ffba94;
}
.products .row .img-product {
  width: 100%;
  position: relative;
}
.products .row .img-product img {
  position: relative;
  z-index: 1;
}
.products .row .img-product .circle {
  display: block;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  top: -100px;
  left: -10px;
}

@media screen and (max-width: 991.98px) {
  .products {
    position: relative;
  }
  .products .row {
    margin-top: 200px;
    justify-content: space-around;
    align-items: end;
  }
  .products .row:nth-of-type(3) {
    display: none;
  }
  .products .row.combo-big {
    margin-top: 0;
  }
  .products .row.combo-small {
    margin-top: 0;
  }
  .products .row .col-lg-4 > div {
    justify-content: space-between;
    height: 600px;
    width: 20vw;
  }
  .products .row .col-lg-4 > div .img-product .name {
    height: 175px;
    overflow-y: hidden;
  }
  .products .row .col-lg-4 > div .img-product .circle {
    display: none;
  }
  .products .row .col-lg-4 > div .img-product .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .products .toggle {
    display: flex;
    flex-direction: row;
    width: fit-content;
    position: absolute;
    bottom: -220px;
    left: 51vw;
    translate: -50% 0;
    gap: 0;
  }
  .products .toggle label {
    padding: 10px 20px;
    cursor: pointer;
  }
  .products .toggle #show-more {
    border-radius: 3.33px 0 0 3.33px;
    background-color: #46b20f;
    color: white;
  }
  .products .toggle #show-less {
    border-radius: 0 3.33px 3.33px 0;
    background-color: #b7b7b7;
    color: black;
  }
  .products #more-product:checked ~ .combo-small {
    display: flex;
  }
  .products #more-product:checked ~ .combo-big {
    display: none;
  }
  .products #more-product:checked ~ .row > #show-more {
    display: block;
    background-color: #b7b7b7;
    color: black;
  }
  .products #more-product:checked ~ .row > #show-less {
    display: block;
    background-color: #46b20f;
    color: white;
  }
}
.news {
  margin-top: -100px;
  margin-bottom: 100px;
}
.news .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.news .header > * {
  text-align: center;
  margin-bottom: 40px;
}
.news .header h2 {
  font-size: 3rem;
  line-height: 2.5;
  font-weight: 800;
}
.news .header p {
  width: 55%;
}
.news .content {
  display: flex;
  flex-direction: column;
}
.news .content .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news .content .title h4 {
  color: #46b20f;
}
.news .content .title .time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: #a3a3a3;
}
.news .content h3 {
  color: #2c2c2c;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.7;
}
.news .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.news .btn button {
  border: 1px solid #46b20f;
  border-radius: 6.67px;
  background-color: transparent;
  padding: 11.7px 21.7px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: 0.4s ease;
}
.news .btn button span {
  line-height: 1.6rem;
  font-size: 2rem;
  font-weight: 700;
}
.news .btn button:hover {
  background-color: #46b20f;
  color: white;
  transition: 0.4s ease;
}
.news .btn button:hover span path {
  fill: white;
}

@media screen and (max-width: 991.98px) {
  .news .header {
    margin-top: 100px;
  }
  .news .content {
    display: block;
    margin: 20px 0;
    height: 280px;
    overflow-y: hidden;
  }
  .news .content img {
    float: left;
    margin-right: 10px;
  }
}
@media screen and (max-width: 576px) {
  .news .content {
    display: flex;
    height: auto;
  }
}
.feature {
  position: relative;
  height: 720px;
}
.feature .container {
  position: relative;
  z-index: 1;
}
.feature .container .header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.feature .container .header h2 {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 800;
}
.feature .container .header p {
  text-align: center;
  width: 50%;
}
.feature .container .row {
  justify-content: center;
}
.feature .container .row .col-lg-4 {
  display: flex;
  flex-direction: column;
}
.feature .container .row .col-lg-4 .content {
  display: flex;
  width: 345.833px;
  flex-direction: column;
  border-radius: 8.33px;
  background-color: white;
  height: 400px;
}
.feature .container .row .col-lg-4 .content img {
  width: 345.833px;
  height: 195px;
}
.feature .container .row .col-lg-4 .content .text {
  padding: 10px 20px;
}
.feature .container .row .col-lg-4 .content .text h3 {
  margin: 10px 0;
}
.feature .container .row .col-lg-4:nth-of-type(1) {
  align-items: end;
}
.feature .container .row .col-lg-4:nth-of-type(2) {
  align-items: center;
}
.feature .container .row .col-lg-4:nth-of-type(3) {
  align-items: start;
}
.feature .overley {
  position: absolute;
  z-index: 0;
  background-color: #fff0e7;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50%;
}

@media screen and (max-width: 991.98px) {
  .feature {
    height: 120vh;
  }
  .feature .row:not(.header) {
    width: 100vw;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .feature .row:not(.header) .col-lg-4:nth-of-type(1) .content {
    margin-left: 50%;
  }
  .feature .overley {
    position: absolute;
    z-index: 0;
    background-color: #fff0e7;
    left: 0;
    right: 0;
    bottom: 0;
    top: 50%;
  }
}
.quanlity .container {
  margin-top: 100px;
}
.quanlity .container .row {
  justify-content: center;
  margin-bottom: 40px;
  margin-left: 5%;
}
.quanlity .container .row .col-lg-4 {
  height: 131px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.quanlity .container .row .col-lg-4 img {
  flex-grow: 0;
  flex-shrink: 1;
}
.quanlity .container .row .col-lg-4 .text {
  width: 90%;
  margin-right: 16px;
}
.quanlity .container .row .col-lg-4 .text h3 {
  margin: 0;
}
.quanlity .container .row .col-lg-4 .text p {
  margin-top: 6.67px;
  width: 67%;
}

@media screen and (max-width: 991.98px) {
  .quanlity .container {
    margin-top: 100px;
    display: flex;
  }
  .quanlity .container .row {
    flex-direction: column;
    gap: 100px;
  }
}
.contact {
  margin-top: 100px;
  margin-bottom: 100px;
}
.contact .contact-form h2 {
  width: 100%;
}
.contact .contact-form form > input {
  border-radius: 6.667px;
  border: 0.833px solid #a3a3a3;
  padding: 13.333px;
  font-family: Inter;
  font-size: 1.6rem;
}
.contact .contact-form form #name {
  width: 95%;
  margin-bottom: 20px;
}
.contact .contact-form form #email {
  width: 45%;
}
.contact .contact-form form #tel {
  width: 45%;
  margin-left: 4%;
}
.contact .contact-form form #content {
  width: 95%;
  border-radius: 6.667px;
  border: 0.833px solid #a3a3a3;
  padding: 13.333px;
  margin-top: 20px;
  font-family: Inter;
  font-size: 1.6rem;
}
.contact .contact-form form button {
  display: block;
  margin-left: auto;
  margin-right: 40px;
  margin-top: 20px;
  padding: 13.333px 50px;
  border-radius: 6.667px;
  background-color: #46b20f;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

/*# sourceMappingURL=styles.css.map */
