* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
h1 {
  margin: 20px;
}
h2 {
  margin: 30px;
}
a {
  display: block;
  margin: 50px;
  font-size: 24px;
  text-decoration: none;
  color: black;
}
article {
  display: flex;
  flex-direction: row;
  width: 60%;
  border-top: 2px solid gray;
  padding: 20px;
  margin: 10px auto;
}
article:nth-of-type(even) {
  flex-direction: row-reverse;
}
img {
  max-width: 300px;
}
.article-content {
  display: inline-block;
  margin-left: 20px;
  width: 80%;
}
.article-content h3 {
  font-size: 40px;
  margin-bottom: 40px;
}
.article-content a {
  font-size: 24px;
  color: black;
  text-decoration: none;
}
