<!DOCTYPE html>
<html>
  <head>
    <title>F8</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <main class="py-3">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <aside class="py-3">
              <h1>Menu</h1>
              <ul>
                <li class="nav-item py-3">
                  <a href="/" class="nav-link">Trang chủ</a>
                </li>
                <li class="nav-item py-3">
                  <a href="/users" class="nav-link">Quản lý người dùng</a>
                </li>
                <li class="nav-item py-3">
                  <a href="/roles" class="nav-link">Quản lý role</a>
                </li>
              </ul>
            </aside>
          </div>
          <div class="col-9"><%- body %></div>
        </div>
      </div>
    </main>
  </body>
</html>
