<div class="container">
  <h1 class="mb-3 text-center">Create a new account</h1>
  <form action="" class="mx-auto w-50">
    <div class="mb-3">
      <label for="" class="form-label">Username</label>
      <input type="text" class="form-control" required />
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Email</label>
      <input type="email" class="form-control" required />
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Password</label>
      <input type="password" class="form-control" required />
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Retype Password</label>
      <input type="password" class="form-control" required />
    </div>
    <div>
      <button class="btn btn-primary">Create</button>
      <a href="/users" class="btn btn-danger">Cancer</a>
    </div>
  </form>
</div>
