* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: $font;
  color: $contentColor;
  font-size: $fontSize;
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: $contentColor;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: $contentColor;
  margin: 20px 0;
}
