$font: Inter, sans-serif;
$fontSize: 1.6rem;

$contentColor: #2c2c2c;
$contentColor2: #19191b;
// Green
$green-100: #f2ffec;
$green-200: #dcffca;
$green-300: #c5ffa8;
$green-800: #46b20f;
$green-1000: #216000;
// Gray
$gray-400: #b7b7b7;
$gray-500: #a3a3a3;
$gray-800: #656565;

//Orange

$orange-100: #fff0e7;
$orange-200: #ffd5bd;
$orange-300: #ffba94;
$orange-500: #ff8440;
$orange-600: #ff6916;
$orange-700: #e05000;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
