<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>F8-học lập trình để đi làm</h1>
    <h1>Title</h1>
    <p>Welcome to Title</p>
  </body>
</html>
