/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --background-color: #fef5f5;
  --button-color: #f86061;
  --p-color: #676767;
  --header-article-color: #f55556;
  --section-1-article-color: #f54748;
  --section-2-article-color: #03a66b;
  --section-3-article-color: #f9ba45;
  --article-color: #2e2e2e;
  --text-color: #4d4d4d;
  --hover-color: #f55253;
}

header {
  padding: 40px 0;
  height: 50px;
}
header .header .menu {
  display: flex;
  justify-content: end;
  position: relative;
}
header .header .menu label {
  padding: 4px 12px;
  border-radius: 5px;
  border: 1px solid rgb(207, 206, 206);
}
header .header .menu label img {
  width: 30px;
  height: auto;
}
header .header .menu #menu-toggle:checked ~ .nav {
  height: 290px;
  transition: height 0.4s ease;
}
header .header .menu .nav {
  overflow: hidden;
  display: flex;
  height: 0;
  transition: height 0.4s ease;
  position: absolute;
  top: 100%;
  left: calc(-50vw - 10px);
  flex-direction: column;
  width: 100vw;
  border: none;
}
header .header .menu .nav nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
header .header .menu .nav nav ul li a {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
}
header .header .menu .nav nav ul li:hover > a {
  color: var(--hover-color);
}
header .header .menu .nav .features {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: 12px 66px 12px 44px;
  border-radius: 8px;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.04);
}
header .header .menu .nav .features .search i {
  color: gray;
  margin-right: 5px;
}
header .header .menu .nav .features .search input::placeholder {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
}
header .header .menu .nav .features .cart {
  position: relative;
  border-left: 2px solid rgba(128, 128, 128, 0.11);
  padding-left: 10px;
}
header .header .menu .nav .features .cart span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  position: absolute;
  top: -24px;
  right: -24px;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: #f54b4b;
  color: white;
}
header .container-content {
  display: none;
  margin-top: 100px;
}
header .container-content .content {
  display: flex;
  flex-direction: column;
}

html {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
}

input,
button,
textarea,
select {
  font-family: inherit;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

.btn {
  color: white;
  background-color: var(--button-color);
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 20px 25px;
  font-size: 2rem;
  font-weight: 500;
  width: fit-content;
  cursor: pointer;
}
.btn:hover {
  background-color: transparent;
  border: 1px solid var(--button-color);
  color: var(--button-color);
  transition: 0.5s ease;
}

/*# sourceMappingURL=style.css.map */
