<div class="row">
  <div class="col-10"></div>
  <div class="col-2"><%- include("home/auth",{user}) %></div>
</div>

<h1 class="mb-3">Rút gọn liên kết</h1>
<p>Công cụ rút ngắn liên kết miễn phí, nhanh nhất.</p>

<div class="row">
  <div class="col-8">
    <%- include("home/linkTable",{dnsShorten,shortenList,hash}) %>
  </div>
  <div class="col-4">
    <%- include("home/shortenForm",{success,error,dnsShorten,old,hash}) %>
  </div>
</div>
<script>
  const originalEL = document.getElementById("original");
  const shortenEL = document.getElementById("shorten");
  const passwordEL = document.getElementById("password");
  const editBtns = document.querySelectorAll(".edit");
  const formCheck = document.getElementById("form-check");
  shortenEL.parentElement.style.display = "none";
  editBtns.forEach((btn) => {
    const hash = btn.dataset.hash;
    const original = btn.dataset.original;
    const shorten = btn.dataset.shorten;
    const password = btn.dataset.password;

    btn.addEventListener("click", (e) => {
      e.preventDefault();
      shortenEL.parentElement.style.display = "block";

      originalEL.value = original;
      originalEL.setAttribute("disabled", "disabled");
      shortenEL.value = shorten;
      shortenEL.setAttribute("disabled", "disabled");
      passwordEL.value = password;
      formCheck.style.display = "none";
      formCheck.nextElementSibling.innerHTML = "Lưu lại";
      history.pushState({}, "", window.origin + "/edit/" + hash);
    });
  });
</script>
