.footer {
  padding: 60px 0;
  .infor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &:not(.logo) > p:first-child {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2;
      }
    }
    .logo {
      p {
        text-align: center;
        font-size: 1.4rem;
        color: var(--p-color);
        margin: 20px 0;
      }
    }
    .company {
      ul {
        li {
          text-align: center;
          margin: 10px 0;
          a {
            font-size: 1.4rem;
            color: var(--p-color);
          }
        }
      }
    }
    .services {
      ul {
        li {
          text-align: center;
          margin: 10px 0;
          a {
            font-size: 1.4rem;
            color: var(--p-color);
          }
        }
      }
    }
    .get-in-touch {
      p {
        text-align: center;
        &:last-child {
          font-size: 1.4rem;
          color: var(--p-color);
        }
      }
    }
  }
  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      text-align: center;
      font-size: 1.4rem;
      color: var(--p-color);
      margin-bottom: 10px;
    }
    .condititon {
      a {
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--p-color);
        margin: 0 10px;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .footer {
    .bottom {
      flex-direction: row;
      justify-content: space-between;
      p {
        margin: 0;
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .footer {
    .infor {
      flex-direction: row;
      align-items: start;
      gap: 100px;
      .logo {
        align-items: start;

        p {
          text-align: left;
        }
      }
      .company {
        align-items: start;
        ul {
          li {
            text-align: left;
          }
        }
      }
      .services {
        align-items: start;
        ul {
          li {
            text-align: left;
          }
        }
      }
      .get-in-touch {
        align-items: start;

        p {
          text-align: left;
          &:last-child {
            line-height: 1.625;
          }
        }
      }
    }
  }
}
