header {
  padding: 40px 0;
  height: 50px;
  .header {
    .menu {
      display: flex;
      justify-content: end;
      position: relative;
      label {
        padding: 4px 12px;
        border-radius: 5px;
        border: 1px solid rgb(207, 206, 206);
        img {
          width: 30px;
          height: auto;
        }
      }
      #menu-toggle:checked ~ .nav {
        height: 270px;
        transition: height 0.4s ease;
      }
      .nav {
        overflow: hidden;
        display: flex;
        height: 0;
        transition: height 0.4s ease;
        position: absolute;
        top: 100%;
        left: calc(-50vw - 10px);
        flex-direction: column;
        width: 100vw;
        border: none;
        nav {
          ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;
            li {
              a {
                font-size: 1.4rem;
                font-weight: 500;
                color: var(--text-color);
              }
              &:hover > a {
                color: var(--hover-color);
              }
            }
          }
        }
        .features {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 40px;
          padding: 12px 66px 12px 44px;
          border-radius: 8px;
          box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.04);
          .search {
            i {
              color: gray;
              margin-right: 5px;
            }
            input {
              &::placeholder {
                font-size: 1.4rem;
                font-weight: 500;
                color: var(--text-color);
              }
            }
          }
          .cart {
            position: relative;
            border-left: 2px solid rgba(128, 128, 128, 0.11);
            padding-left: 10px;
            span {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 28px;
              width: 28px;
              border-radius: 50%;
              position: absolute;
              top: -24px;
              right: -24px;
              font-size: 1.4rem;
              font-weight: 600;
              background-color: #f54b4b;
              color: white;
            }
          }
        }
      }
    }
  }
  .container-content {
    display: block;
    padding-top: 60px;
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .more-than-faster {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: #fdecec;
        border-radius: 23px;
        padding: 12px 16px;
        width: fit-content;
        margin-bottom: 20px;
        flex: 0 1;
        p {
          font-weight: 500;
          color: var(--header-article-color);
        }
      }
      h1 {
        font-weight: 700;
        font-size: 3.8rem;
        color: var--(article-color);
        text-align: center;
        span {
          color: var(--header-article-color);
        }
      }
      & > p {
        margin: 20px 0;
        line-height: 3;
        color: var(--text-color);
        text-align: center;
      }
      .action {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        .btn {
          font-size: 1.2rem;
          padding: 12px 20px;
          line-height: 2rem;
          margin-right: 20px;
        }
        a {
          font-size: 1.2rem;
          color: var(--article-color);
        }
      }
    }
    .img {
      img {
        width: 100%;
      }
    }
  }
}
@media screen and (min-width: 576px) {
  header {
    .container-content {
      .content {
        .action {
          .btn {
            font-size: 1.6rem;
            padding: 25px 20px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  header {
    margin: 0 auto;
    width: 696px;
    .container-content {
      .content {
        align-items: start;
        h1 {
          text-align: start;
        }
        & > p {
          text-align: start;
        }
      }
    }
  }
}
@media screen and (min-width: 992px) {
  header {
    width: 936px;
    .header {
      .logo {
        justify-content: start;
      }
      .menu {
        height: fit-content;
        flex-direction: row;
        align-items: center;
        .nav {
          height: fit-content;
          justify-content: end;
          flex-direction: row;
          position: initial;
          overflow: visible;
          gap: 50px;
          nav {
            position: relative;
            padding: 0;
            ul {
              flex-direction: row;
            }
          }
          .features {
            height: fit-content;
            padding: 0;
            margin: 0;
          }
        }
      }
    }
    .container-content {
      .content {
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  header {
    width: 1200px;
    .header {
      padding: 0 20px;
    }
  }
}
