:root{
 --background-color:#fefef5;
 --button-color: #F86061;
 --p-color: #676767;
 --header-article-color: #f55556;
 --section-1-article-color: #f54748;
 --section-2-article-color: #03a66b;
 --section-3-article-color:#f9ba45;
}