@import './parts/reset','./parts/fonts','./parts/variables';
@import 'header','./serve', './choose\ us','./delivery','footer';

html{
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}
body{
    font-size: 1.6rem;
}

input,button,textarea,select{
    font-family: inherit;
    outline: none;
    border: none;
}

a{
    text-decoration: none;
}
.btn{
    color: white;
    background-color: var(--button-color);
    border: 1px solid transparent;
    border-radius: 12px;
    padding: 20px 25px;
    font-size: 2rem;
    font-weight: 500;
    width: fit-content;
    cursor: pointer;
    &:hover{
        background-color: transparent;
        border: 1px solid var(--button-color);
        color: var(--button-color);
        transition: 0.5s ease;
    }
}