.news {
  margin-top: -100px;
  margin-bottom: 100px;
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > * {
      text-align: center;
      margin-bottom: 40px;
    }
    h2 {
      font-size: 3rem;
      line-height: 2.5;
      font-weight: 800;
    }
    p {
      width: 55%;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h4 {
        color: $green-800;
      }
      .time {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        color: $gray-500;
      }
    }
    h3 {
      color: $contentColor;
      font-size: 20px;
      font-weight: 600;
      line-height: 1.7;
    }
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    button {
      border: 1px solid $green-800;
      border-radius: 6.67px;
      background-color: transparent;
      padding: 11.7px 21.7px;
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      transition: 0.4s ease;
      span {
        line-height: 1.6rem;
        font-size: 2rem;
        font-weight: 700;
      }
    }
    button:hover {
      background-color: $green-800;
      color: white;
      span {
        path {
          fill: white;
        }
      }
      transition: 0.4s ease;
    }
  }
}
@media screen and (max-width: 991.98px) {
  .news {
    .header {
      margin-top: 100px;
    }
    .content {
      display: block;
      margin: 20px 0;
      height: 280px;
      overflow-y: hidden;
      img {
        float: left;
        margin-right: 10px;
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .news {
    .content {
      display: flex;
      height: auto;
    }
  }
}
