#InternetNoti {
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 20px;
  bottom: 20px;
  background-color: beige;
  border: none;
  border-radius: 12px;
  transition: all 1s ease;
}
