@import "../partials/reset";
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slider {
  margin: 30px auto;
}
.msg {
  display: none;
}
.active {
  display: block;
}
